@page
@model InnovatricsDemo.Pages.ErrorModel
@{
    ViewData["Title"] = "Search in watch list";
}
<div class="text-center">
    <h1>Error</h1>
</div>
<div class="text-center">
    <p>Ooops, something went terribly wrong!</p>
</div>
